customtkinter==5.2.0
darkdetect==0.8.0
evdev==1.6.1
mss==9.0.1
numpy==1.26.2
opencv-python==4.8.1.78
Pillow==10.1.0
plyer==2.1.0
pynput==1.7.6
python-xlib==0.33
six==1.16.0
transformers==4.34.0
tensorflow==2.11.0